.button {
    align-self: flex-start;
    justify-self: flex-end;
    background: #1d80c3;
    color: #fff;
    border-radius: 4px;
    border-width: 0;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 150ms ease;

    a {
        color: $color-white;
    }
}

.button--white {
    background-color: #fff;
    color: #1d80c3;

    a {
        color: #1d80c3;
    }
}

.button--centered {
    margin: 0 auto;
    display: block;
}
