.card {
    padding: $spacing-xl $spacing-lg $spacing-lg $spacing-lg;
    background-color: $color-white;
    box-shadow: $box-shadow;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    min-height: 200px;

    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        .card__icon {
            right: $spacing-sm;
        }
    }
}

.card--info {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #f0f8ff;
    transition: background-color 150ms ease-in-out;
    padding: 2rem !important;
}

.card__icon {
    position: absolute;
    top: $spacing-md;
    right: $spacing-md;
    transition: right 150ms ease-in-out;
    color: $color-light-blue;
}

.card__heading {
    color: $color-light-blue;
    font-family: $font-family-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.card__text {
    color: $color-light-blue;
}

.card__button {
    background-color: $color-light-blue;
    color: $color-white;
    font-size: 1.3rem;
    padding: $spacing-sm $spacing-md;
    border: none;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.5px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: auto;

    &:hover {
        background-color: lighten($color-light-blue, 5%);
    }

    a {
        color: $color-white;

        &:hover {
            color: $color-white;
        }
    }
}
