//
// Colors
//

$color-black: #000;
$color-white: #fff;
$color-blue: #1d80c3;
$color-light-blue: #1e97e9;
$color-lighter-blue: #61b2e3;
$color-lightest-blue: #a9d8f5;

//
// Typography
//

// Font families
$font-family-serif: 'Libre Baskerville', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

// Font sizes
$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

// Line height
$line-height-sm: 1;
$line-height-md: 1.5;
$line-height-lg: 2;

//
// Opacity
//

$opacity-light: 0.25;
$opacity-medium: 0.5;
$opacity-dark: 0.75;

//
// z-index
//

$z-index-low: 1;
$z-index-high: 100;

//
// Sizes
//

$size-xs: 0.25rem;
$size-sm: 0.5rem;
$size-md: 1rem;
$size-lg: 2rem;
$size-xl: 4rem;

//
// Time
//

$time: 0.25s;

//
// Easings
//

$easing: ease;

//
// Box shadows
//

$box-shadow: 5px 5px 0.1px rgba(0, 0, 0, 0.125);

//
// Borders
//

$border-width: 0.0625rem;

//
// Border radius
//

$border-radius: 4px;

//
// Spacing
//

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;


//
// Media query breakpoints
//

$breakpoint-xs: 20em;
$breakpoint-sm: 40em;
$breakpoint-md: 60em;
$breakpoint-lg: 90em;
$breakpoint-xl: 130em;

//
// Grid
//

$grid-columns: 12;
$grid-gutter: 1rem;

//
// Content width (defines the width of the content containers for differens resolutions).
// < sm devices are 100% wide and therefore don't need a variable here.
//

$content-width-sm: $breakpoint-sm;
$content-width-md: $breakpoint-md;
$content-width-lg: $breakpoint-lg - 5em;
$content-width-xl: $breakpoint-xl - 20em;


//
// Easing functions
//
$animation-smooth: cubic-bezier(0.17, 0.67, 0.48, 1.28);
$animation-spring: cubic-bezier(0.57, 0.21, 0.69, 1.25);
