.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;

    li {
        padding: 0 $spacing-md;

        &:first-child {
            padding: 0;
        }
    }
}

.navigation__logo {
    height: 50px;
}
